<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="/css/common.css" rel="stylesheet"></link>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/base.js"></script>
</head>
<body>
    <div class="row-fluid">
        <div id="header" class="col-md-2 col-lg-2"></div>
        <div id="content" class="col-md-10 col-lg-10">
            <h1 class="button">测试服务平台</h1>
            <h2>This is my first page with SpringBoot</h2>
            <button>but</button>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>